<!doctype html>
<html lang="fr" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Cap Nation
        </title>
        <meta name="description" content="La boutique spécialisée dans la casquette">

        <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">

        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">{# icons bootstrap cdn #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />{# icons font awesome cdn #}

        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/error.css') }}" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo-cap.svg') }}">


        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body class="p-0">

        <header data-bs-theme="dark">
            {% include ("navbar.html.twig") %}
        </header>

        <main>
            
        {# Flash message #}
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} my-5 text-center alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            
            {% block body %}{% endblock %}

            {% include ("footer.html.twig") %}

            {# COOKIES 
    <div id="bandeaucookies" >
        <p>
            Pour votre confort de navigation, ce site utilise des cookies fonctionnels uniquement. 
            <br/><br/>
            Les cookies sont de petits fichiers que nous stockons sur votre appareil lorsque vous visitez notre site. <br/>Ils nous permettent de vous reconnaître et de personnaliser notre contenu pour mieux répondre à vos besoins.
            <br/><br/>
            Nous respectons votre vie privée et sommes transparents quant à l'utilisation de vos données. <br/>Nous n'utilisons pas les cookies pour collecter des informations personnelles sensibles et ne partageons jamais vos données avec des tiers.
            <br/><br/>
            En acceptant nos cookies, vous pouvez bénéficier d'une navigation plus fluide et d'un contenu plus pertinent et personnalisé. <br/>Et si vous ne souhaitez pas les utiliser, pas de problème ! <br/>Vous pouvez les désactiver à tout moment dans les paramètres de votre navigateur.
            <br/><br/>
            <button id="AcceptCookies" class="btn btn-light btn-sm">J'accepte</button>
            <button id="RejectCookies" class="btn btn-light btn-sm">Je refuse</button>
        </p>
    </div>
    #}
        </main>

        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/global.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
